{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">Check your answers</h1>

            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium">Your details</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="/your-details">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Name
                    </dt>
                    <dd class="cya-answer">
                        {{ data['first-name'] }} {{ data['last-name'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Address
                    </dt>
                    <dd class="cya-answer">
                        <span class="top_0 bottom_0">{{ data['address-line-1'] }}</span><br>
                        <span class="top_0 bottom_0">{{ data['address-line-2'] }}</span><br>
                        <span class="top_0 bottom_0">{{ data['address-line-3'] }}</span><br>
                        <span class="top_0 bottom_0">{{ data['town-or-city'] }}</span><br>
                        <span class="top_0 bottom_0">{{ data['county'] }}</span><br>
                        <span class="top_0 bottom_0">{{ data['postcode'] }}</span>
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Home telephone
                    </dt>
                    <dd class="cya-answer">
                        {{ data['home-telephone'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Mobile phone
                    </dt>
                    <dd class="cya-answer">
                        {{ data['mobile'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Email
                    </dt>
                    <dd class="cya-answer">
                        {{ data['email'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Date of birth
                    </dt>
                    <dd class="cya-answer">
                        {{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        National Insurance number
                    </dt>
                    <dd class="cya-answer">
                        {{ data['NIN'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <dl class="govuk-check-your-answers cya-questions-short top_60">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium">Your plea</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="/your-plea">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Plea
                    </dt>
                    <dd class="cya-answer">
                        {{ data['how-do-you-plea'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Would you like to come to court?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['how-do-you-plea-2'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Do you need an interpreter in court?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['interpreter-required'] }} &nbsp;&nbsp;&nbsp;&nbsp; {{ data['interpreter-language'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
  
                <div>
                    <dt class="cya-question">
                        Do you agree with the witness statement sent in your notice?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['witness-statement-group'] }} &nbsp;&nbsp;&nbsp;&nbsp; {{ data['witness-statement-textarea'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
  
                <div>
                    <dt class="cya-question">
                        Do you want to bring your own witness?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['own-witness-group'] }} &nbsp;&nbsp;&nbsp;&nbsp; {{ data['own-witness-textarea'] }} &nbsp;&nbsp;&nbsp;&nbsp; {{ data['own-witness-interpreter-language'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
  
                <div>
                    <dt class="cya-question">
                        Do you want to bring your own witness?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['nogo-dates-group'] }} &nbsp;&nbsp;&nbsp;&nbsp; {{ data['nogo-dates-textarea'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
  
                <div>
                    <dt class="cya-question">
                        Information for magistrates
                    </dt>
                    <dd class="cya-answer">
                        {{ data['mitigation-textarea'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <dl class="govuk-check-your-answers cya-questions-short top_60">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium">Your finances</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="/your-finances">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Income (after tax)
                    </dt>
                    <dd class="cya-answer">
                        £ {{ data['average-income'] }} {{ data['frequency-group'] }}                      
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Employment status
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employment-status-group'] }} &nbsp;&nbsp;&nbsp;&nbsp; {{ data['other-employment-status'] }}                       
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Deduct from earnings?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['are-you-employed-group'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Employer reference
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-number'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Employer
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-name'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Employer address
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-address-1'] }}<br>
                        {{ data['employer-address-2'] }}<br>
                        {{ data['employer-address-3'] }}<br>
                        {{ data['employer-city-name'] }}<br>
                        {{ data['employer-postcode'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                 <div>
                    <dt class="cya-question">
                        Employer telephone
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-telephone'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

               <div>
                    <dt class="cya-question">
                        Are you claiming any benefits?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['claiming-benefits-group'] }} &nbsp;&nbsp;&nbsp;&nbsp; {{ data['benefits-claimed'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
                
               <div>
                    <dt class="cya-question">
                        If you need to pay a penalty, would you like us to deduct it from your benefits?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['deduct-from-benefits-group'] }}
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <dl class="govuk-check-your-answers cya-questions-short top_60">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium top_30">Your outgoings</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="your-outgoings">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Monthly amount
                    </dt>
                    <dd class="cya-answer">
                        £ {{ data['benefits-total'] }} {{ data['other-expenses-list'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <div class="form-group top_30">
                <a href="declaration" class="button">Confirm and continue</a>
                <p class="top_15"><a href="javascript:history.go(-1);">Back</a></p>
            </div>

        </div>        
    </div>
</main>

{% endblock %}
