{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">Check your answers</h1>

            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->
            <dl class="govuk-check-your-answers cya-questions-short">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium">Your details</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="/your-details">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Name
                    </dt>
                    <dd class="cya-answer">
                        {{ data['first-name'] }} {{ data['last-name'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Address
                    </dt>
                    <dd class="cya-answer">
                        <p class="top_0 bottom_0">{{ data['address-line-1'] }}</p>
                        <p class="top_0 bottom_0">{{ data['address-line-2'] }}</p>
                        <p class="top_0 bottom_0">{{ data['address-line-3'] }}</p>
                        <p class="top_0 bottom_0">{{ data['town-or-city'] }}</p>
                        <p class="top_0 bottom_0">{{ data['county'] }}</p>
                        <p class="top_0 bottom_0">{{ data['postcode'] }}</p>
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Home telephone
                    </dt>
                    <dd class="cya-answer">
                        {{ data['home-telephone'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Mobile phone
                    </dt>
                    <dd class="cya-answer">
                        {{ data['mobile'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Email
                    </dt>
                    <dd class="cya-answer">
                        {{ data['email'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Date of birth
                    </dt>
                    <dd class="cya-answer">
                        {{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        National Insurance number
                    </dt>
                    <dd class="cya-answer">
                        {{ data['NIN'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <dl class="govuk-check-your-answers cya-questions-short top_60">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium">Your plea</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="/your-plea">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Plea
                    </dt>
                    <dd class="cya-answer">
                        {{ data['how-do-you-plea'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Woud you like to come to court?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['how-do-you-plea-2'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Information for magistrates
                    </dt>
                    <dd class="cya-answer">
                        {{ data['notguilty-textarea'] }}{{ data['guilty-textarea'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <dl class="govuk-check-your-answers cya-questions-short top_60">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium">Your finances</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="/your-finances">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Monthly income (after tax)
                    </dt>
                    <dd class="cya-answer">
                        £ {{ data['average-monthly-income'] }}                       
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Employment status
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employment-status-group'] }}{{ " - " + data['other-employment-status'] }}                       
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Your employer
                    </dt>
                    <dd class="cya-answer">
                        {{ data['employer-name'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Claiming benefits?
                    </dt>
                    <dd class="cya-answer">
                        {{ data['claiming-benefits-group'] }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <dl class="govuk-check-your-answers cya-questions-short top_60">
                <div>
                    <dt class="cya-question">
                        <h2 class="heading-medium top_30">Your outgoings</h2>
                    </dt>
                    <dd class="cya-answer">
                        &nbsp;
                    </dd>
                    <dd class="cya-change">
                        <a href="your-outgoings">Change<span class="visually-hidden"> name</span></a>
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">
                        Monthly amount
                    </dt>
                    <dd class="cya-answer">
                        £ {{ data['accomodation'] | int + data['council-tax'] | int + data['household-bills'] | int + data['travel-expeneses'] | int + data['child-maintenance'] | int }}
                    </dd>
                    <dd class="cya-change">
                        &nbsp;
                    </dd>
                </div>
            </dl>

            <div class="form-group top_30">
                <a href="declaration" class="button">Confirm and continue</a>
                <p class="top_15"><a href="javascript:history.go(-1);">Back</a></p>
            </div>

        </div>        
    </div>
</main>

{% endblock %}
