{% extends "layout.html" %}

{% block page_title %}
  Thank you
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <form class="form" action="/prototype-admin/clear-data" method="post">

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h1 class="heading-xlarge">Thank you</h1>
                            <p>Thank you for helping to make a better service.</p>
                        </legend>
                    </fieldset>
                </div>
                <div class="form-group">
                    <input class="button" type="submit" value="Start again">
                </div>

            </form>

        </div>
    </div>

</main>

{% endblock %}
