{% extends "layout.html" %}

{% block page_title %}
  Make a plea for an offence
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
    <ol>
      <li><a href="javascript:javascript:history.go(-1);">Back</a></li>
    </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Help and advice</h1>
        <p class="lede">To be confirmed</p>
    </div>
</div>

</main>

{% endblock %}
