{% extends "layout.html" %}

{% block page_title %}
  Help and advice
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
    <ol>
      <li><a href="javascript:javascript:history.go(-1);">Back</a></li>
    </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Help and advice</h1>
        
        <div class="panel panel-border-wide">
            <p>Before you call make sure you have the Single Justice Procedure notice you were sent. You’ll need to confirm details from this.</p>
        </div>
        
        <h2 class="heading-medium">If you think you shouldn’t have been prosecuted</h2>
        <h3 class="heading-small">Contact Transport for London</h3>
        <p>
            Telephone: xxxx xxxxxxxx (TBC)<br>
            Monday to Friday 7am to 10pm (TBC)<br>
            Saturday, 9am to 12pm (TBC)<br>
            <a href="">Find out about call charges</a>
        </p>

        <h2 class="heading-medium">Legal advice</h2>
        <p class="bottom_5">You can get help from either:</p>
        <ul class="list list-bullet">
            <li><a href="">a solicitor</a></li>
            <li><a href="">Citizens Advice</a></li>
        </ul>

        <h2 class="heading-medium">Help with this online service or the court process</h2>
        <h3 class="heading-small">Contact Lavender Hill Magistrates’ Court</h3>
        <p>
            Telephone: xxxx xxxxxxxx (TBC)<br>
            Monday to Friday 7am to 10pm (TBC)<br>
            Saturday, 9am to 12pm (TBC)<br>
            <a href="">Find out about call charges</a>
        </p>

    </div>
</div>

</main>

{% endblock %}
