{% extends "layout.html" %}

{% block page_title %}
  ATCM Make a plea design demo
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                ATCM Make a plea design demo
                <span class="heading-secondary">Using the GOV.UK prototype kit {{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}

            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small top_60 bottom_60">
                    <p class="bold bottom_5 heading-medium" style="color: #B10E1E">DO NOT USE AS A DESIGN OR DEVELOPMENT REFERENCE.</p>
                    <p class="top_5">This demo is for user testing and basic demo purposes only and may not represent the final approved designs.</p>
                </strong>
            </div>

            <a class="button button-start" href="start-page.html" role="button">Start now</a>

            <h2 class="heading-medium top_60">Before you start</h2>
            
            <h3 class="heading-small">Find your case</h3>
            <p>Any values can be entered for the case number with the following exceptions:</p>
            <ul class="list list-bullet">
                <li>"123" will show the <a href="https://atcm-map.herokuapp.com/find-your-case-error-1">enter valid number error</a></li>
                <li>"456" will show the <a href="https://atcm-map.herokuapp.com/find-your-case-error-2">already submitted error</a></li>
            </ul>

            <h2 class="heading-medium">Validation errors</h3>
            <p>Not all pages or form elements show validation errors in this demo. However, many of the elements on forms will show validation errors here are direct links to view the content for each of these:</p>
            
            <p class="heading-small">Your details validation errors</p>
            <ul class="list list-bullet">
                <li><a href="https://atcm-map.herokuapp.com/your-details-error-0">https://atcm-map.herokuapp.com/your-details-error-0</a></li>
                <li><a href="https://atcm-map.herokuapp.com/your-details-error-1">https://atcm-map.herokuapp.com/your-details-error-1</a></li>
                <li><a href="https://atcm-map.herokuapp.com/your-details-error-2">https://atcm-map.herokuapp.com/your-details-error-2</a></li>
                <li><a href="https://atcm-map.herokuapp.com/your-details-error-3">https://atcm-map.herokuapp.com/your-details-error-3</a></li>
            </ul>
            
            <p class="heading-small">Your plea validation erros</p>
            <ul class="list list-bullet">
                <li><a href="https://atcm-map.herokuapp.com/your-plea-error">https://atcm-map.herokuapp.com/your-plea-error</a></li>
            </ul>
            
            <p class="heading-small">Guilty plea validation errors</p>
            <ul class="list list-bullet">
                <li><a href="https://atcm-map.herokuapp.com/guilty-plea-error">https://atcm-map.herokuapp.com/guilty-plea-error</a></li>
            </ul>
            
            <p class="heading-small">Your court hearing validation errors</p>
            <ul class="list list-bullet">
                <li><a href="https://atcm-map.herokuapp.com/your-court-hearing-error">https://atcm-map.herokuapp.com/your-court-hearing-error</a></li>
            </ul>
            
            <p class="heading-small">Your income validation errors</p>
            <ul class="list list-bullet">
                <li><a href="https://atcm-map.herokuapp.com/your-income-error-1">https://atcm-map.herokuapp.com/your-income-error-1</a></li>
                <li><a href="https://atcm-map.herokuapp.com/your-income-error-2">https://atcm-map.herokuapp.com/your-income-error-2</a></li>
                <li><a href="https://atcm-map.herokuapp.com/your-income-error-3">https://atcm-map.herokuapp.com/your-income-error-3</a></li>
                <li><a href="https://atcm-map.herokuapp.com/your-income-error-4">https://atcm-map.herokuapp.com/your-income-error-4</a></li>
            </ul>
            
            <p class="heading-small">Your outgoings validation errors</p>
            <ul class="list list-bullet">
                <li><a href="https://atcm-map.herokuapp.com/your-outgoings-error">https://atcm-map.herokuapp.com/your-outgoings-error</a></li>
            </ul>
            
            <p class="heading-small">Declaration validation errors</p>
            <ul class="list list-bullet">
                <li><a href="https://atcm-map.herokuapp.com/declaration-error">https://atcm-map.herokuapp.com/declaration-error</a></li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}


