{% extends "layout.html" %}

{% block page_title %}
  Your details
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="javascript:history.go(-1);">Back</a></li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Fix the following
                </h2>
                <ul class="error-summary-list">
                    <li><a href="#error">Your date of birth</a></li>
                </ul>
            </div>
            
            <h1 class="heading-xlarge">Your details</h1>

            <h2 class="heading-medium">Check your name and address</h2>

            <div class="panel panel-border-wide">
                <span class="heading-small">Sam Smith</span><br>
                <span class="top_0 bottom_0">38A Baker Street</span><br>
                <span class="top_0 bottom_0">London</span><br>
                <span class="top_0 bottom_0">W1 7SX</span>
            </div>
            
            <form class="form" action="" method="post">
                <div class="form-group">
                    
                    <fieldset class="inline">
                        <legend>
                            <p class="heading-small">Are these details correct?</p>
                        </legend>
                        <div class="multiple-choice">
                            <input id="name-address-1" type="radio" name="name-address-group" value="1">
                            <label for="name-address-1">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="name-address-2" type="radio" name="name-address-group" value="2">
                            <label for="name-address-2">No</label>
                        </div>
                    </fieldset>
                    
                    <div class="name-address-fields">
                        <div class="panel panel-border-wide top_15">
                            <p class="heading-small">Changes to name</p>
                            <span class="form-hint">The court will check any name changes</span>
                            <p class="top_15 bottom_5">First name</p>
                            <input class="form-control" id="first-name" type="text" name="first-name" value="Sam">
                            <p class="top_15 bottom_5">Last name</p>
                            <input class="form-control" id="last-name" type="text" name="last-name" value="Smith">
                        </div>
                        
                        <div class="panel panel-border-wide top_15">
                            <p class="heading-small">Changes to address</p>
                            <span class="form-hint">The court will check your change of address</span>
                            <p class="top_15 bottom_5">Address</p>
                            <input class="form-control bottom_10" id="address-line-1" type="text" name="address-line-1" value="38A Baker Street">
                            <input class="form-control bottom_10" id="address-line-2" type="text" name="address-line-2">
                            <input class="form-control" id="address-line-3" type="text" name="address-line-3">
                            <p class="top_15 bottom_5">Town or city</p>
                            <input class="form-control bottom_10" id="town-or-city" type="text" name="town-or-city" value="London">
                            <p class="top_15 bottom_5">County (optional)</p>
                            <input class="form-control bottom_10" id="county" type="text" name="county">
                            <p class="top_15 bottom_5">Postcode</p>
                            <input class="form-control bottom_10" id="postcode" type="text" name="postcode" value="W1 7SX">
                        </div>

                    </div>
                    
                    <fieldset>
                        <legend>
                            <h3 class="heading-medium">Enter other details</h3>
                        </legend>
                        
                        <label class="form-label" for="contact-numbers">
                            <span class="heading-small">Contact numbers (optional)</span>
                            <span class="form-hint">The court may need to contact you so they can resolve your case quickly</span>
                        </label>
                        <label class="form-label top_10" for="home-telephone">Home telephone</label>
                        <input class="form-control" id="home-telephone" type="text" name="home-telephone">
                        <label class="form-label top_10" for="mobile">Mobile</label>
                        <input class="form-control" id="mobile" name="mobile" type="text">

                        <label class="form-label top_30" for="ni-number">
                            <span class="heading-small">Email address</span>
                            <span class="form-hint">We'll automatically email you a copy of your plea</span>
                        </label>
                        <input class="form-control" id="email" type="text" name="email">
                        
                        <div class="form-group form-group-error top_30" id="error">
                            <legend>
                                <span class="form-label-bold">
                                Your date of birth
                                </span>
                                <span class="form-hint">For example, 31 3 1980</span>
                                <span class="error-message bottom_5">Date must be in the past - enter valid date</span>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                </div>
                            </div>
                        </div>
                        
                        <fieldset class="inline">
                            <legend>
                                <p class="heading-small top_30">Do you have a National Insurance number?</p>
                            </legend>
                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="NIN-radio-inline-group" value="1">
                                <label for="radio-inline-1">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="NIN-radio-inline-group" value="2">
                                <label for="radio-inline-2">No</label>
                            </div>
                        </fieldset>

                        <div class="NIN-fields">
                            <div class="panel panel-border-wide top_15">
                                <p class="heading-small">National Insurance number</p>
                                <span class="form-hint">It’s on your National Insurance card, benefit letter, payslip or P60 – for example, V0 12 34 56 D</span>
                                <input class="form-control" id="NIN" type="text" name="NIN">
                            </div>
                        </div>
                        
                    </fieldset>
                </div>
                
                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                    <p class="top_15"><a href="javascript:history.go(-1);">Back</a></p>
                </div>
                
            </form>
        </div>
        
        <div class="column-third">
            <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Further links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="font-xsmall">
                    <li><a href="/help-and-advice">Help and advice</a></li>
                </ul>
                </nav>
            </aside>
        </div>
        
    </div>
    
</main>

{% endblock %}
